@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Edge */
}

@media (min-width: 1200px) and (max-width: 1500px) {
  html {
    font-size: 15px !important;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  html {
    font-size: 13px !important;
  }
  .filterbtn {
    font-size: 10px !important;
  }
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 11px !important;
  }
  .filterbtn {
    font-size: 10px !important;
  }
  .navbarClass {
    font-size: 13px !important;
  }
}
